body{
    background-image: url(color.jpg);
}
.hd{
    text-align: center;
    color: aqua;
}
.h1{
    text-align: center;
    background-color: #eb15c7;
    margin: auto;
    padding: 20px;
}
.zilong{
    border-radius: 100px;
    background-color: cornflowerblue;
}
.foot{
    text-align: center;
}